:root {
    --color-main-1: #582C83;
    --color-main-2: #0057B7;
    --color-main-3: #91df00;
    --color-main-4: #FE5000;
    --color-main-5: #fff200;
    --color-aux-1: #666666;
    --color-aux-2: #FFFFFF;
    --color-aux-3: #211E16;
    --color-aux-4: #919191;
    --color-tra-1: #ffffff98;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #4f4f4f;
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
}

.card {
    border: 1px solid #dcdcdc;
    padding: 20px 25px 30px;
    margin: 50px auto 25px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.profile-img-card {
    width: 200px;
    margin: 30px auto;
    display: block;
}

.text-center {
    text-align: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

h5 {
    font-size: 1.25rem;
}

.divider {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 30px;
    border-top: 1px solid #d6d6d6;
}

.gap-2 {
    grid-gap: 0.5rem !important;
    gap: 0.5rem !important;
}

.d-grid {
    display: grid !important;
}

#btn-login {
    background-color: transparent;
    border-radius: 0.3rem;
    text-transform: uppercase;
    line-height: 1.6;
    cursor: pointer;
    padding: 0.625rem 1.5625rem 0.5625rem;
    border-color: var(--color-main-1);
    color: var(--color-main-1);
    box-shadow: 0 2px 8px -3px #000;
    transition: 500ms;
}

#btn-login:hover {
    color: var(--color-aux-2);
    background-color: var(--color-main-1);
}

.input-container {
    width: 100%;
    text-align: center;
}

.input-login {
    width: calc(100% - 25px);
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 16px;
    letter-spacing: 0.25px;
    border: none;
    outline: none;
    background-color: #ffffff;
    transition: 0.25s ease;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    margin-bottom: 10px;
}

.input-login:hover {
    box-shadow: inset 2px 2px 1px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    background-color: #f4f4f4;
}

.input-container > span {
    margin-top: 15px;
    cursor: pointer;
    user-select: none;
}

.input-container > span:hover {
    color: var(--color-main-1);
}
