@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

:root {
    --color-main-1: #582C83;
    --color-main-2: #0057B7;
    --color-main-3: #91df00;
    --color-main-4: #FE5000;
    --color-main-5: #fff200;
    --color-aux-1: #666666;
    --color-aux-2: #FFFFFF;
    --color-aux-3: #211E16;
    --color-aux-4: #919191;
    --color-aux-5: #dbe2e4;
    --color-tra-1: #ffffff98;
}

body {
    overflow-y: scroll;
    background: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.section {
    height: 100vh;
    width: 100vw;
}

.section-auto {
    width: 100vw;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title-section-table {
    background: white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.title-section {
    overflow: auto;
    background: white;
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}

.title-section, .title-section-table > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-main-1);
    padding: 0;
    margin: 0;
}

.title-section>h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
}

.title-section>h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: var(--color-aux-1);
}

.content-users {
    width: 70%;
    height: 70vh;
    border: 1px solid var(--color-aux-5);
    border-radius: 5px;
    margin-left: 15%;
    margin-bottom: 30px;
    box-shadow: 0px 3px 4px 0px var(--color-aux-5);
}

.table-section {
    width: 96%;
    height: 85%;
    border-bottom: 1px solid var(--color-aux-5);
    padding-left: 2%;
    padding-right: 2%;
    overflow: auto;
}

.table-section-footer {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
}

.btn-outline {
    background-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1.6;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    border-color: var(--color-main-1);
    color: var(--color-aux-2);
    background-color: var(--color-main-1);
    box-shadow: 0 2px 8px -3px var(--color-aux-5);
    transition: 500ms;  
}

.btn-outline:hover {
    color: var(--color-main-1); 
    background-color: var(--color-aux-2);
}

.btn-outline:active {
    box-shadow: inset 2px 2px 4px var(--color-aux-5), inset -2px -2px 4px var(--color-aux-5);
}

.table {
    border-spacing: 0 15px;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.table > thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    position: sticky;
    top: 15px;
}

.table > tbody {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
    vertical-align: middle;
    text-align: center;
    border: none;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table tbody tr {
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.table thead tr {
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    background-color: #e4e4e4;
}

.dropdown-action {
    overflow: hidden;
}

.dropdown-action .dropbtn {
    cursor: pointer;
    height: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--color-aux-1);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-action:hover .dropbtn,
.dropbtn:focus {
    background-color: var(--color-aux-4);
    color: var(--color-aux-2);
}

.dropdown-action-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-action-content span {
    float: none;
    color: var(--color-aux-3);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

.dropdown-action-content span:hover {
    background-color: var(--color-main-1);
    color: var(--color-aux-2);
}

.dropdown-action:hover .dropdown-action-content {
    display: block;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.container-modal>.modal-head {
    height: 3.5rem;
}

.container-modal>.modal-footer {
    height: 4rem;
}

.container-modal>.modal-body {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--color-aux-5);
    border-bottom: 1px solid var(--color-aux-5);
}

/* modal */