<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../assents/upve.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/navbar.css">
        <title>Tienda</title>
    </head>
    <body>
        <div class="section scroll-effect">
            <div class="landing parallax-one" id="es">
                <div class="content-center">
                    <div class="transparent-box ">
                        <img src="../assents/logos/UPVE_str.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-auto">
            <div class="title-section">
                <h1>Tienda</h1>
                <h3> de articulos y accesorios</h3>
            </div>
        </div>
        <div class="navbar" id="nav">
            <div class="nav-logo">
                <img src="../assents//logos/UPVE_IdBRhcb_@3x.png" alt="fht">
            </div>
            <nav class="nav-section">
                <a href="#">Inicio</a>
                <a href="./catalogo.html">Catalogo</a>
                <a href="./paquetes.html">Paquetes</a>
            </nav>
            <div class="nav-user">
                <div class="nav-user-btn">Iniciar sesion</div>
            </div>
        </div>
        <div class="category-section">
            <div class="category-main"></div>
            <div class="category-sec sec-1"></div>
            <div class="category-sec sec-2"></div>
            <div class="category-sec sec-3"></div>
            <div class="category-sec sec-4"></div>
        </div>
        <div class="header">
            <!--Titulo del documento-->
            <div class="inner-header flex">
                <!-- <h1>Proximante nuestra linea de invierno</h1> -->
                <img src="../assents/logos/UPVE_IdLM2cb_@3x.png" alt="logo">
            </div>
            <!--Contenedor de las olas-->
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)"  />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>
        </div>
        <footer id="contact">
            <ul>
                <div id="icon-container">
                    <a href="https://www.facebook.com/UPVE1/" target="_blank">
                        <div class="icon">
                            <li><i class="fab fa-facebook-f"></i></li>
                        </div>
                    </a>
                    <a href="https://twitter.com/upve1?lang=es" target="_blank">
                        <div class="icon">
                            <li><i class="fab fa-twitter"></i></li>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/upve1/?hl=es" target="_blank">
                        <div class="icon">
                            <li><i class="fab fa-instagram"></i></li>
                        </div>
                    </a>
                    <a href="https://www.tiktok.com/@upve1?lang=es" target="_blank">
                        <div class="icon">
                            <li><i class="fa-brands fa-tiktok"></i></li>
                        </div>
                    </a>
                    <a href="https://upve.edu.mx/" target="_blank">
                        <div class="icon">
                            <li><i class="fa-solid fa-globe"></i></li>
                        </div>
                    </a>
                </div>
            </ul>
            <div class="direction">
                Carretera 500 S/N.<br>
                Leopoldo Sánchez Celis CP: 81670.<br>
                Angostura, Sinaloa.<br>
                Teléfono: (697) 7345362, 7345364, 7345376, 7345377.<br>
            </div>
            <p>&copy; 2020-2024, Universidad Politécnica del Valle del Évora</p>
        </footer>
        <script src="../js/main.js"></script>
    </body>
</html>
