<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../assents/upve.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="stylesheet" href="../../css/navbar.css">
        <link rel="stylesheet" href="../../css/usuarios.css">
        <title>Usuarios</title>
    </head>
    <body>
        <div class="navbar">
            <div class="nav-logo">
                <img src="../../assents/logos/UPVE_IdBRhcb_@3x.png" alt="fht">
            </div>
            <nav class="nav-section">
                <a href="../main.html#nav">Inicio</a>
                <a href="../public/catalogo.html">Catalogo</a>
                <a href="../public/paquetes.html">Paquetes</a>
            </nav>
            <div class="nav-user">
                <div class="nav-user-btn" onclick="window.location.replace('../public/login.html')">Iniciar sesion</div>
                <div class="dropdown" id="dropdown">
                    <button class="dropbtn">
                        <i class="fa-solid fa-gear"></i>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <!-- <a href="#">Usuarios</a> -->
                        <span class="actived">Logout</span>
                        <a href="#">Productos</a>
                        <div class="divider"></div>
                        <span onclick="logout()">Logout</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-auto">
            <div class="title-section-table">
                <h1>Usuarios</h1>
            </div>
        </div>
        <!-- main -->
        <!-- modal agregar -->
        <div id="modalAgregarId" class="modal">
            <span onclick="modalCerrar('modalAgregarId')" class="close" title="Close Modal">×</span>
            <div class="modal-content">
                <div class="container-modal">
                    <div class="modal-head"></div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <!-- modal agregar -->
        <div class="content-users">
            <div class="table-section"></div>
            <div class="table-section-footer">
                <button class="btn-outline" id="btn-agregar" onclick="modalAbrir('modalAgregarId')">Iniciar Sesión</button>
            </div>
        </div>
        <!-- main -->
        <script src="../../js/navbar.js"></script>
        <script src="../../js/usuarios.js"></script>
    </body>
</html>